@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-amber-50 text-stone-800 font-serif;
  }
}

@layer utilities {
  .rotated-portrait {
    transform: rotate(90deg);
    transform-origin: center center;
  }
}
